@import "tailwindcss";

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scrollLeft 40s linear infinite;
}

.animate-scroll-right {
  animation: scrollRight 40s linear infinite;
}


@theme {
  --breakpoint-xs: 320px;
  --breakpoint-s : 425px;
}

.text-fit {
  font-size: clamp(0.875rem, 5vw, 1.25rem);
}
